form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 5px;
  margin-right: 5px;
}

.mat-form-field {
  margin-right: 20px;
  width: 100%;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}
